# Forcer la détection automatique du texte et la conversion en LF à l'écriture dans le dépôt
* text=auto

# Fichiers spécifiques à Spring Boot / Maven 
/mvnw text eol=lf
*.cmd text eol=crlf
*.sh text eol=lf

# Fichiers Web & Config (Angular, React, Docker)
*.json text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.jsx text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
.env* text eol=lf
